<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head> <title>ITTLC 12 - An OpenStack Developer Workshop</title> </head>
<body>
<p>
Using your favorite SSH client log into your shared devstack instance using the following details. 
<br>
<br> 
login:    {{ login }}
<br>
host:     {{ host }} 
<br>
password: password
</p>

<p>
You may also try the HTML5 based SSH Client <a target="_blank" href="https://{{host}}">here</a>.  I tested successfully the HTML5 client with the latest Chrome and Firefox browsers.  It did NOT work with IE 8 for me.  If you use the HTML5 SSH client you can use localhost as the host.
</p>
<p>
The workshop exercises are located in the "Activities" foler in your home directory.  <b>You are sharing this devstack instance with other users so please be kind.  Do not create more than 1 "tiny" flavored instance at a time</b>. 
</p>
</body>
</html>

