<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head> <title>ITTLC 12 - An OpenStack Developer Workshop</title> </head>
<body>
<p>
<h3>Workshop Login Details</h3>
login:    {{ login }}
<br>
host:     {{ host }} 
<br>
password: password
</p>

<p>
You may try the HTML5 based SSH Client <a target="_blank" href="https://{{host}}">here</a>.  I tested successfully the HTML5 client with the latest Chrome and Firefox browsers.  It did NOT work with IE 8 for me.  If you use the HTML5 SSH client you can use localhost as the host.  Otherwise feel free to use your favorite SSH client that you have configured properly (socks proxy needs to be set).
</p>
The foils have been posted <a target="_blank" href="https://mysharepoint.amr.ith.intel.com/personal/jrcookli/_layouts/PowerPoint.aspx?PowerPointView=ReadingView&PresentationId=/personal/jrcookli/Shared%20Documents/ITTLC-2012-OpenCloud-Final-nisha.pptx&Source=https%3A%2F%2Fmysharepoint%2Eamr%2Eith%2Eintel%2Ecom%2Fpersonal%2Fjrcookli%2Fdefault%2Easpx&DefaultItemOpen=1&DefaultItemOpen=1">here</a>.
<h3>Labs</h3>
<p>
The workshop exercises are located in the "Activities" foler in your home directory.  <b>You are sharing this devstack instance with other users so please be kind.  Do not create more than 1 "tiny" flavored instance at a time</b>. The labs will reference the image "cirros-0.3.0-x86_64-uec".
</p>

<h3>Lab 1 - Horizon Dashboard </h3>
<p>
You can log into the dashboard <a target="_blank" href="http://{{host}}">here</a> with the following credentials:
<br>
login: demo
<br>
password: password
</p>
<h3>Lab 2 - Using the Nova CLI</h3>
<i>No special instructions required.</i>
<h3>Lab 3 - Using the API (via python-novaclient module)</h3>
<p>
When you are prompted to enter username, pwd and tenant name during this lab please use the following details:
<br>
IP: 127.0.0.1<br>
Username: demo<br>
Password: password<br>
Tenant name: demo
</p>
</body>
</html>

